<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
	<script>
    // var socket = io.connect('http://yq.xhmind.com:8090');
    // var socket = io.connect('https://yq.xhmind.com:8091');
	  // var socket = io.connect('https://localhost:3000');
	  // socket.on('123', function (data) {
	  //   console.log(JSON.stringify(data));
	  //   socket.emit('xiaoming', { my: 'data' });
	  // });
    socket.on('reLogin', function (data) {
     console.log(JSON.stringify(data));
   });
	</script>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
